<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="{%url 'index'%}"><b>Black</b> &amp; White</a></h1>
                </div>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="{% url 'index' %}" data-hover="Home">Home</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog' %}" data-hover="Blog">Blog</a></li>
                            <li class="cl-effect-11"><a href="{% url 'about' %}" data-hover="About">About</a></li>
                            <li class="cl-effect-11"><a href="{% url 'contact' %}" data-hover="Contact">Contact</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'blog'%}">Blog</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
</div>
</body>
</html>
